body{
    font-size: 10px;
    font-family: 'Shippori Antique B1', sans-serif;
    margin: 0;
    background:#fec5bb;
    padding: 0;
    opacity:1;
    color: #fec89a;
}
*{
    box-sizing: border-box;
}

header{
    background:#fcd5ce;
    padding: 0.5rem;
    
}



.ul-list{
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    font-weight: bold;

   
   
}
.ul-list-a{
    padding: 1rem;
    text-decoration:  none;
    color: white;

    
}
.ul-list-a-home{
   color:#ca6702;
   text-decoration: none;
   text-transform:capitalize;
}
main{
    max-width: 500px;
    margin: 0 auto;
    
}
label{
    font-size: .8rem;
    margin-left: 0.9rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: white ;
    font-weight: bold;
}
input{
    font-size: 1.2rem ;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: .8rem;
    transition: transform 0.5s;
    
    

}
input:hover{
    background-color: lightsalmon;
    color: #b5838d;
    transform: scale(1.125);
   
}
form{
    display: flex;
    flex-direction: column;
}
button{
    background-color: lightgray;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 1.4rem;
    transition: transform 0.5s; 
}
button:hover{
    background-color: #fca311;
    color:#fec5bb;
    transform: scale(1.125)
}

h1{
    font-size: 2rem;
    text-align: center;
    color:#9c6644;
}